# --- SEGURIDAD (CRÍTICO) ---
.env

# --- CARPETAS DE DATOS Y DOCUMENTACIÓN (PRIVADO) ---
data/
doc/
reports/
test/

# --- ENTORNOS Y LIBRERÍAS ---
venv/
.venv/
__pycache__/

# --- BASES DE DATOS LOCALES ---
*.db
*.sqlite3

# --- ARCHIVOS DE SISTEMA Y TEMPORALES ---
.DS_Store
temp.pdf
# Runtime (incluye BD)
runtime/
